*{
    padding: 0 ;
    margin: 0 ;
}

nav li{
    list-style-type: none;
    align-self: flex-end;
    padding: 30px 20px;
}

 nav a{
    text-decoration: none;
    color: white;
}

header{
    background-color: gray;
    width: auto;
    height: 80px;
    padding: 0 60px;
    justify-content: space-between;
    position: sticky;
}

.header-right{
    font-size: 35px;
    font-weight: bold;
    padding:20px 0;
    float: left;
}

main{
    flex-direction: column;
    display: flex;
    gap: 20px ;
}

#about, #Competence, #contact{
    display: flex;
    flex-direction: column;
    
}

.name{
    width: 35%;
    box-shadow: 6px 6px 8px 4px #888888;
    border-radius: 12%;
    text-align: center;
    padding: 2em 2em;
    align-self: flex-end;
    margin-top: 25px;
    
}

aside{
    flex: 1;
}

img{
    width: 100px;
    border-radius: 100%;
}

.About{
    width: 50%;
    box-shadow: 6px 6px 8px 4px #888888;
    border-radius: 12%;
    text-align: center;
    padding: 2em 2em;
    margin-top: -238px;
}

#Competence{
    width: 50%;
    border-radius: 12%;
    box-shadow: 6px 6px 8px 4px #888888;
    text-align: center;
    padding:2em 2em;
    margin-top: 25px;;
}

#Competence pre{
    text-align: justify;
    font-weight: bold;
}

#contact{
    width: 50%;
    height: 50px;
    box-shadow: 6px 6px 8px 4px #888888;
    border-radius: 12px;
    text-align: center;
    padding: 2em 2em;
    margin-top: 25px;

}

#contact li{
    text-align: justify;
}

footer{
    background-color: #888888;
    width: auto;
    height: 50px;
    margin-top: 25px;
}

@media (max-width: 600px){

    
}